@import compass
@import blueprint
@import base.sass

+global-reset

+blueprint-typography("#content")

// page defaults
// --------------------------------------------------------

html, html body
  font-family: "Helvetica Neue", helvetica, arial, sans-serif

body
  background: url(../images/mesh.png) #121212
  
a.base
  color: #99201E
  text-decoration: none
  &:hover
    text-decoration: underline

#wrapper
  +container
  +box-shadow(0, 0, 10px, rgba(0,0,0,1))
  +border-bottom-radius(0.5em)
  border: 1px solid #222
  background: url(../images/fabric.png) #111
  padding-bottom: 2em
  
  #content
    overflow: hidden
    color: #CFD79E
    font-size: 90%
    
    h1, h2, h3, h4, h5, h6
      +text-shadow(-2px, 2px, 20px, rgba(255,100,100,0.5))
      color: #852725
    
    a
      @extend a.base
  
// Link box
// --------------------------------------------------------

.link-box
  +display-box
  height: 100%
  width: 100%
  margin-top: 3.8em

// Header
// --------------------------------------------------------

#header
  +clearfix

#logo
  +border-bottom-radius(0.4em)
  padding-top: 1em
  margin: 0 2em
  background: url(../images/fabric.png) #8B0006
  #inner-logo
    +transform-origin(20%,50%)
    +apply-transform(scale(0.5) rotate(-5deg))
    width: 28em
    .csstransforms &
      margin:
        left: -2em

  h1
    +text-shadow(-0.04em, 0.04em, 0.04em, rgba(255,100,100,0.8))
    letter-spacing: -0.07em
    margin-bottom: 0
    font:
      family: georgia, times, "times new roman", serif
      size: 4em
      weight: bold
      style: italic
    a
      color: #fff
      text-decoration: none

  p
    color: #000
    margin:
      left: 9em
    font:
      size: 1.2em
      style: italic
      weight: bold
  
$animation-speed = "0.3s"
$animation-ease = "ease-in-out"

.link-box
  a
    +transition(all, $animation-speed, $animation-ease)
    +border-top-left-radius(1em)
    +border-bottom-right-radius(1em)
    +box-flex(1)
    display: block
    color: #666
    padding: 0.75em
    vertical-align: 0
    margin-right: 0.5em
    text-decoration: none
    background-image: url(../images/fabric.png)
    background-color: #222
    background-attachment: fixed
    white-space: nowrap
    &[rel="external"]:after
      content: " »"
    &:hover
      color: #fff
      background-color: #8B0006
      padding-right: 85px
    &:last-child, &:last-child:hover
      margin-right: 0

// Columns
// --------------------------------------------------------

.primary-column
  +column(16, true)
  +float-right

.secondary-column
  +column(8)

.primary-column,
.secondary-column
  .block
    margin: 2em
    border-top: 2px solid #222
  
    #header &
      margin:
        bottom: 0
        top: 0
      border: none

// Columns
// --------------------------------------------------------

#content
  .primary-column,
  .secondary-column
    > .block
      padding-top: 1.5em

// Footer
// --------------------------------------------------------

#footer
  +container
  margin: 2em auto
  color: #666
  font-size: 80%
  line-height: 2em
  a
    @extend a.base