@import compass
@import base.sass

+global-reset

html, html body
  width: 100%
  height: 100%
  font-family: "Helvetica Neue", helvetica, arial, sans-serif

.box
  +display-box
  +box-align(center)
  +box-pack(center)
  height: 100%
  width: 100%
  
.link-box
  @extend .box
  height: 200px

h1, p
  +apply-transform(scale(1.5) rotate(-5deg))

h1
  +text-shadow(-0.04em, 0.04em, 0.04em, rgba(0,0,0,0.8))
  font-family: georgia, times, "times new roman", serif
  color: #8B0006
  letter-spacing: -0.07em
  margin-bottom: 0.5em
  font:
    size: 4em
    weight: bold
    style: italic

p
  margin-left: 0.5em
  font-style: italic
  
$animation-speed = "0.1s"
$animation-ease = "ease-in-out"

a
  +border-right-radius(3em)
  +transition(all, $animation-speed, $animation-ease)
  color: #303030
  border-right: 2px solid #ddd
  padding: 2em 0.75em
  vertical-align: 0
  text-decoration: none
  &:last-child
    border-right: none
  &:hover
    color: #8B0006
    text-decoration: underline
    font:
      size: 2em
      weight: bold
      style: italic
      family: georgia, times, "times new roman", serif