/* line 14, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white; }

/* line 19, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 23, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 25, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" ""; }
  /* line 96, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#content {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  /* line 54, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-weight: normal;
    color: #222222; }
    /* line 55, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
    #content h1 img, #content h2 img, #content h3 img, #content h4 img, #content h5 img, #content h6 img {
      margin: 0; }
  /* line 56, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
  /* line 57, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content h2 {
    font-size: 2em;
    margin-bottom: 0.75em; }
  /* line 58, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  /* line 59, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  /* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 61, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content h6 {
    font-size: 1em;
    font-weight: bold; }
  /* line 62, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content p {
    margin: 0 0 1.5em; }
    /* line 63, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
    #content p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    /* line 64, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
    #content p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  /* line 66, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content a {
    text-decoration: underline;
    color: #000099; }
    /* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
    #content a:visited {
      color: #000066; }
    /* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
    #content a:focus {
      color: black; }
    /* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
    #content a:hover {
      color: black; }
    /* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
    #content a:active {
      color: #cc0099; }
  /* line 67, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content blockquote {
    margin: 1.5em;
    color: #666666;
    font-style: italic; }
  /* line 68, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content strong {
    font-weight: bold; }
  /* line 69, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content em {
    font-style: italic; }
  /* line 70, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content dfn {
    font-style: italic;
    font-weight: bold; }
  /* line 71, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content sup, #content sub {
    line-height: 0; }
  /* line 72, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content abbr, #content acronym {
    border-bottom: 1px dotted #666666; }
  /* line 73, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content address {
    margin: 0 0 1.5em;
    font-style: italic; }
  /* line 74, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content del {
    color: #666666; }
  /* line 75, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content pre {
    margin: 1.5em 0;
    white-space: pre; }
  /* line 76, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content pre, #content code, #content tt {
    font: 1em "andale mono", "lucida console", monospace;
    line-height: 1.5; }
  /* line 77, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content li ul, #content li ol {
    margin: 0; }
  /* line 78, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content ul, #content ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 3.333em; }
  /* line 79, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content ul {
    list-style-type: disc; }
  /* line 80, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content ol {
    list-style-type: decimal; }
  /* line 81, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content dl {
    margin: 0 0 1.5em 0; }
    /* line 82, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
    #content dl dt {
      font-weight: bold; }
  /* line 83, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content dd {
    margin-left: 1.5em; }
  /* line 84, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content table {
    margin-bottom: 1.4em;
    width: 100%; }
  /* line 85, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content th {
    font-weight: bold; }
  /* line 86, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content thead th {
    background: #c3d9ff; }
  /* line 87, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content th, #content td, #content caption {
    padding: 4px 10px 4px 5px; }
  /* line 88, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content tr.even td {
    background: #e5ecf9; }
  /* line 89, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content tfoot {
    font-style: italic; }
  /* line 90, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content caption {
    background: #eeeeee; }
  /* line 91, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content .quiet {
    color: #666666; }
  /* line 92, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
  #content .loud {
    color: #111111; }

/* line 12, ../sass/screen.sass */
body {
  font-family: "Helvetica Neue", arial, sans-serif; }

/* line 15, ../sass/screen.sass */
#content span.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal; }

/* line 20, ../sass/screen.sass */
body {
  background: url(../images/mesh.png) #1c1c1c; }

/* line 23, ../sass/screen.sass */
a.base, #wrapper #content a, #footer a {
  color: #99201e;
  text-decoration: none; }
  /* line 26, ../sass/screen.sass */
  a.base:hover, #wrapper #content a:hover, #footer a:hover {
    text-decoration: underline; }

/* line 29, ../sass/screen.sass */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  -o-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -o-border-bottom-left-radius: 0.5em;
  -ms-border-bottom-left-radius: 0.5em;
  -khtml-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -o-border-bottom-right-radius: 0.5em;
  -ms-border-bottom-right-radius: 0.5em;
  -khtml-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: 1px solid #222222;
  background: url(../images/fabric.png) #222222;
  padding-bottom: 2em; }
  /* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
  #wrapper {
    display: block; }
  /* line 37, ../sass/screen.sass */
  #wrapper #content {
    overflow: hidden;
    color: #cfd79e;
    font-size: 90%; }
    /* line 42, ../sass/screen.sass */
    #wrapper #content h3, #wrapper #content h4, #wrapper #content h5, #wrapper #content h6 {
      text-shadow: -2px 2px 20px rgba(100, 0, 0, 0.5);
      color: #852725; }

/* line 55, ../sass/screen.sass */
.link-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  height: 100%;
  width: 100%;
  margin-top: 2.8em; }
  /* line 61, ../sass/screen.sass */
  .link-box a {
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
    -o-border-top-left-radius: 1em;
    -ms-border-top-left-radius: 1em;
    -khtml-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -webkit-border-bottom-right-radius: 1em;
    -o-border-bottom-right-radius: 1em;
    -ms-border-bottom-right-radius: 1em;
    -khtml-border-bottom-right-radius: 1em;
    border-bottom-right-radius: 1em;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: block;
    display: block;
    color: #666666;
    padding: 0.75em;
    vertical-align: 0;
    margin-right: 0.5em;
    text-decoration: none;
    background-image: url(../images/fabric.png);
    background-color: #111111;
    background-attachment: fixed;
    white-space: nowrap; }
    /* line 76, ../sass/screen.sass */
    .link-box a[rel="external"]:after {
      content: " »"; }
    /* line 78, ../sass/screen.sass */
    .link-box a:hover {
      color: white;
      background-color: #8b0006;
      padding-right: 85px; }
    /* line 82, ../sass/screen.sass */
    .link-box a:last-child, .link-box a:last-child:hover {
      margin-right: 0; }

/* line 88, ../sass/screen.sass */
#header {
  overflow: hidden;
  display: inline-block;
  background: url(../images/grunge_corner.png) 5px -70px no-repeat, url(../images/grunge_corner.png) 230px -70px no-repeat; }
  /* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
  #header {
    display: block; }

/* line 92, ../sass/screen.sass */
#logo {
  border-bottom-left-radius: 0.4em;
  -moz-border-radius-bottomleft: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  -moz-border-radius-bottomleft: 0.4em;
  -webkit-border-bottom-left-radius: 0.4em;
  -o-border-bottom-left-radius: 0.4em;
  -ms-border-bottom-left-radius: 0.4em;
  -khtml-border-bottom-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
  -moz-border-radius-bottomright: 0.4em;
  -webkit-border-bottom-right-radius: 0.4em;
  -o-border-bottom-right-radius: 0.4em;
  -ms-border-bottom-right-radius: 0.4em;
  -khtml-border-bottom-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  padding-top: 1em;
  margin: 0 2em;
  background: url(../images/fabric.png) #8b0006; }
  /* line 97, ../sass/screen.sass */
  #logo #inner-logo {
    -moz-transform-origin: 20% 50%;
    -webkit-transform-origin: 20% 50%;
    -o-transform-origin: 20% 50%;
    transform-origin: 20% 50%;
    -moz-transform: scale(0.5) rotate(-5deg);
    -webkit-transform: scale(0.5) rotate(-5deg);
    -o-transform: scale(0.5) rotate(-5deg);
    transform: scale(0.5) rotate(-5deg);
    width: 28em; }
    /* line 101, ../sass/screen.sass */
    .csstransforms #logo #inner-logo {
      margin-left: -2em; }
  /* line 105, ../sass/screen.sass */
  #logo h1 {
    text-shadow: -0.04em 0.04em 0.04em rgba(255, 100, 100, 0.8);
    letter-spacing: -0.07em;
    margin-bottom: 0;
    font-family: georgia, times, "times new roman", serif;
    font-size: 4em;
    font-weight: bold;
    font-style: italic; }
    /* line 114, ../sass/screen.sass */
    #logo h1 a {
      color: white;
      text-decoration: none; }
  /* line 118, ../sass/screen.sass */
  #logo p {
    color: black;
    margin-left: 34em;
    font-size: 5px;
    font-style: italic;
    font-weight: bold; }
    /* line 127, ../sass/screen.sass */
    #logo p:after {
      content: " Foo Bar Baz. Foo Bar Baz. Foo Bar Baz. Foo Bar Baz. Foo Bar Baz. Foo Bar Baz. Foo B-- o hai. =)"; }

/* line 133, ../sass/screen.sass */
.primary-column {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  display: inline;
  float: right; }
  /* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .primary-column {
    overflow-x: hidden; }

/* line 137, ../sass/screen.sass */
.secondary-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px; }
  /* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .secondary-column {
    overflow-x: hidden; }

/* line 142, ../sass/screen.sass */
.primary-column .block,
.secondary-column .block {
  margin: 2em;
  border-top: 2px solid #222222; }
  /* line 146, ../sass/screen.sass */
  #header .primary-column .block, #header
  .secondary-column .block {
    margin-bottom: 0;
    margin-top: 0;
    border: none; }

/* line 157, ../sass/screen.sass */
#content #messagy-bit {
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  -o-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  position: relative;
  background: url(../images/masthead.png) 0 0 no-repeat;
  margin-top: 1.5em;
  min-height: 315px; }
  /* line 164, ../sass/screen.sass */
  #content #messagy-bit h2 {
    position: absolute;
    top: 3em;
    left: 0.5em;
    margin: 0;
    line-height: 1em;
    letter-spacing: -0.05em;
    font-size: 4em;
    font-weight: bold; }
  /* line 175, ../sass/screen.sass */
  #content #messagy-bit span.amp {
    text-shadow: -2px 2px 2px rgba(50, 0, 0, 0.8);
    color: #880006; }
/* line 182, ../sass/screen.sass */
#content .primary-column > .block,
#content .secondary-column > .block {
  padding-top: 0.5em; }

/* line 188, ../sass/screen.sass */
#footer {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  margin: 2em auto;
  color: #666666;
  font-size: 80%;
  line-height: 2em; }
  /* line 8, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
  #footer {
    display: block; }
