<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="javascripts/modernizr.min.js"></script>
    
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.4.2");
        // google.load("jqueryui", "1.8.1");
        google.load("chrome-frame", "1.0.2");
    </script>
    
    <script type="text/javascript">
        
        // Make with the jQuery
        $(document).ready(function(){
            
            $('a[rel=external]').click(function(){
                this.target = "_blank";
            });
            
        });
    </script>

	<title>tastydelicious is {{ page.title }}</title>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            
            <div class="secondary-column">
                <div id="logo">
                    <div id="inner-logo">
                        <h1><a href="index.html">Tastydelicious.</a></h1>
                        <p>Foo Bar Baz.</p>
                    </div>
                </div>
            </div>
            
            <div class="primary-column">
                <div class="block">
                    <div class="link-box">
                        <a href="projects.html">projects</a>
                        <a href="http://github.com/ltackett" rel="external">github</a>
                        <a href="http://twitter.com/ltackett" rel="external">twitter</a>
                        <a href="http://facebook.com/ltackett" rel="external">facebook</a>
                        <a href="http://lorintackett.com" rel="external">portfolio</a>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div id="content">
            
            <div id="messagy-bit">
                <h2>Hi. I make<br />websites <span class="amp">&amp;</span> music.</h2>
            </div>
            
            <div class="columns">
                <div class="secondary">
                    <div class="block">
                        <p>In Soviet Russia... sidebar floats you.</p>
                        <ul>
                            <li>uno</li>
                            <li>dos</li>
                            <li>tres</li>
                        </ul>
                    </div>
                </div>
                
                <div class="primary">
                    <div class="block">
                        <h3>{{ page.title }}</h3>
                        {{ content }}
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div id="footer">
        <p>This page is awesome, because <a href="http://twitter.com/ltackett" rel="external">Lorin Tackett</a> is awesome. Some imagery provided by <a href="http://joycex.deviantart.com">Joycex</a></p>
    </div>

</body>
</html>
